{% macro render_select_field(field, placeholder='Selecione...', label='Selecione uma empresa') %}

<div class="form-group">
    <select data-placeholder="{{ placeholder }}" class="select-size-xs">
        <option></option>
        {% for choice in field.choices %}
        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
    </select>
    {% if field.errors %}
    {% for error in field.errors %}
        <span class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i>{{ error }}</span>
    {% endfor %}
    {% endif %}
</div>    



{% endmacro %}
