{% extends "layouts/base.html" %}

{% block title %} Cadastro de Clientes {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="/index.html">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/index.html">Páginas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro Comercial</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Comercial GRANPORT</h1>
                <p class="mb-0">Tela de cadastro de Cliente.</p>
            </div>
            <div>
                <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components/forms/" target="_blank" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Documentos de Cadastro</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4"> 
            <div class="card border-0 shadow components-section">
                <div class="card-body">     
                    <div class="row mb-5">
                        <div class="col-lg-5 col-sm-5">
                        <form method="POST">
                            {{ form.csrf_token }}

                            <!-- Form -->
                            <div class="mb-4">
                                {{ form.nome_empresa.label(class="form-label") }}

                                

                                {{ form.nome_empresa(class="form-control") }}

                                
                            </div>
                            <!-- Form -->
                            <div class="mb-4">
                                <label >Razão Social</label>
                               {{ form.razão_social(class="form-control") }}
                                
                            </div>
                            <!-- Form -->
                            <div class="mb-4">
                                <label>CNPJ</label>
                                {{ form.cnpj(class="form-control")}}
                                
                            </div>
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="nome-da-empresa">Endereço</label>
                                {{ form.endereço(class="form-control") }}
                                
                            </div>
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="nome-da-empresa">Inscrição Estadual</label>
                                {{ form.inscrição_estadual(class="form-control")}}
                                
                            </div>
                             <div class="mb-4">
                                <label for="nome-da-empresa">Segmento de Mercado</label>
                                {{ form.segmento_mercado(class="form-control")}}
                                
                            </div>

                                </br>

                                {{ form.submit(class="btn btn-lg btn-success animate-up-2") }}
                            <!-- End of Form -->
                              <!-- End of Form -->
                        </div>
                        <div class="col-lg-5 col-sm-6">

                            <!-- Choice Select -->
                            <div class="mb-2">
                                {{ form.estado.label(class="form-label") }}
                                {{ form.estado(class="form-control")}}

                             <div class="mb-4">
                                <label for="nome-da-empresa">CEP</label>
                                {{ form.cep(class="form-control")}}
                                
                            </div>
                             <div class="mb-4">
                                <label for="nome-da-empresa">Bairro</label>
                                {{ form.bairro(class="form-control")}}
                                
                            </div>
                             <div class="mb-4">
                                <label for="nome-da-empresa">Cidade</label>
                                {{ form.cidade(class="form-control")}}
                                
                            </div>
                             <div class="mb-4">
                                <label for="nome-da-empresa">País</label>
                                {{ form.país(class="form-control")}}
                                
                            </div>
                            <!-- Form -->
                            <div class="my-4">
                                <label for="textarea">Área de Comentário</label>
                                {{ form.complemento(class="form-control")}}
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="my-4">
                                <input class="form-control" id="email" type="email" placeholder="name@company.com" value="{{ current_user.email }}" hidden>   
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="my-4">
                                <input class="form-control" name="username" id="username" type="text" placeholder="" value="{{ current_user.username }}" hidden>

                            </div>
                            <!-- End of Form -->

                            
                            
                            
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
